 
#logo {
    margin-left: 120px;
}

#navbar span {
    display: inline-block;
    width: 100px;
    margin-top: 20px;

}

#search {
    margin-left: 15px;
    width: 100px;
}

#cart {
    width: 100px;
}

.child-top-header {
    display: inline-block;
}

.text-white {
    color: white;
}

.link.iphone14{
    justify-content: center;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 53px;


}
body {
    margin: 0;
}

header {
    background-color: #9fb4c5;
    height: 73px;
}

main {
    background: #ffffff;
    /* height: 800px; */

}

span {
    margin-left: 10px;
}

img {
    margin-top: 20px;
}

.row-product {
    text-align: center;
    margin-top: 48px;
    height: 494px;
    
}
.linkapplewach{
    padding-inline: 20px;
}

#iphone-14 {
    /*
    background-color: #9fb4c5;
    background-image: url("./images/hero_iphone14__large.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center; */
    background: #9fb4c5 url("./images/hero_iphone14__large.jpg") no-repeat center;
    background-size: cover;
    color: black;
    background-clip: border-box;
}

#iphone14-pro {
    background: url("./images/hero_iphone14pro_large.jpg") no-repeat center;
    background-size: cover;
    color: white;
    
}

#watch {
    background: url("./images/apple\ watch.jpg") no-repeat center;
    background-size: cover;
}

.row-newproduct {
    display: flex;
    text-align: center;


}

.airpods {
    background-color: black;
    color: white;
    width: 50%;
    height: 500px;
    margin: 10px;
    background: url(./images/airpod.jpg);
    background-size: cover;
    background-position-x: center;
}


.applewatch {
    background-color: black;
    color: white;
    width: 50%;
    margin: 10px;
    height: 500px;
    background: url(./images/applewatch2.jpg);
    background-size: cover;
    background-position-x: center;
}
.row-newproduct2{
    display: flex;
    text-align: center;

}
.fitness{
    background-color:#424245;
    color: black;
    width: 50%;
    margin: 10px;
    height: 500px;
    background: url(./images/image2.jpg);
    background-size: cover;
    background-position-x: center;
   
}

.watch{
    color: black;
    width: 50%;
    margin: 10px;
    height: 500px;
    background: url(./images/image3.jpg);
    background-size: cover;
    background-position-x: center;
   
}
.row-product3{
    display: flex;
    text-align: center;

}

.product links{
    color: red;
    text-decoration: none;

}
sub-title-1{
display: flex;
justify-content: space-evenly;
}
.row-newproduct3{
    display: flex;
    text-align: center;
}

.card{
    color: black;
    width: 50%;
    margin: 10px;
    height: 500px;
    background: url(./images/image4.jpg);
    background-size: cover;
    background-position-x: center;
    
}
.logoimage{
    background-image:url(./images/logo\ card.png);
    background-repeat: no-repeat;
}
.link{
    justify-content: center;
    cursor: pointer;
    text-decoration: underline;
    padding: 52px;
}
.link:hover{
    color: aqua;
    font-size: 20pt;
}
.mackbookair{
    color: white;
    width: 50%;
    margin: 10px;
    height: 500px;
    background: url(./images/mackbook.jpg);
    background-size: cover;
    background-position-x: center;
    
}
.liink{
    justify-content: center;
    cursor: pointer;
    padding: 52px;
}
.links{
    justify-content: center;
    cursor: pointer;
    padding: 52px;
}

footer {
    background-color: #f5f5f7;
    height: 300px;
}